<% include ./partials/header %>
<section class="page-section about-heading">
    <div class="container">

          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5" id="forms">
                <form action="/login" method="POST">
                    <div class="form-group">
                      <label for="emailAddress">Email</label>
                      <input type="email" class="form-control" id="emailAddress" placeholder="Email" name="username">
                    </div>
                    <div class="form-group">
                      <label for="userPassword">Şifre</label>
                      <input type="password" class="form-control" id="userPassword" placeholder="Şifre" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
          </div>
    </div>
  </section>
  <% include ./partials/footer %>