<% include ./partials/header %>
<section class="page-section about-heading">
    <div class="container">

          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">

                <form action="/signup" method="POST">
                    <div class="form-group">
                     
                      <label for="emailAddress">Email</label>
                      <input type="email" class="form-control" id="emailAddress"  placeholder="Email" name="username">
                    </div>
                    <div class="form-group">
                      <label for="userPassword">Şifre</label>
                      <input type="password" class="form-control" id="userPassword" placeholder="Şifre" name="password">
                    </div>
                    <div class="form-group">
                        <label for="formName">Ad</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ad" name="name">
                      </div>
                      <div class="form-group">
                          <label for="formSurname">Soyad</label>
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Soyad" name="surname">
                      </div>
                      <div class="form-group">
                          <label for="formPhone">Telefon Numarası</label>
                          <input type="text" class="form-control" id="phone-number"  placeholder="0(5xx) xxx xxxx" name="phonenumber" >
                      </div>
                      <% include ./partials/cities %>
                        
                    <button type="submit" class="btn btn-primary">Kayıt Ol</button>

                  </form>

            </div>
          </div>
    </div>
  </section>
  <% include ./partials/footer %>